@model Hotel_5.ViewModel.BookingRoom


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bookings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="booking.CheckInDate" class="control-label"></label>
                @Html.EditorFor(m => m.booking.CheckInDate, "{0:dd/MM/yyyy}",
               new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                <span asp-validation-for="booking.CheckInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="booking.CheckOutDate" class="control-label"></label>
                @Html.EditorFor(m => m.booking.CheckOutDate, "{0:dd/MM/yyyy}",
               new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                <span asp-validation-for="booking.CheckOutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room.RoomType" class="control-label"></label>
                @Html.DropDownList("RoomType",
                    new SelectList(Enum.GetValues(typeof(RoomTypes))),
                    new { @class = "form-control" })
            </div>

            <div class="form-group">

                <label asp-for="booking.AmenitiesList" class="control-label"></label>
                <br />

                @for (int i = 0; i < Model.booking.AmenitiesList.Count; i++)
                {

                    @Html.HiddenFor(x => x.booking.AmenitiesList[i].AmenityId)
                    @Html.CheckBoxFor(x => x.booking.AmenitiesList[i].IsSelected)
                    @Html.DisplayFor(x => x.booking.AmenitiesList[i].AmenityName)
                    @Html.HiddenFor(x => x.booking.AmenitiesList[i].AmenityName)
                    @Html.HiddenFor(x => x.booking.AmenitiesList[i].AmenityPrice)

                    <br />
                }

                @Html.ValidationMessageFor(model => model.booking.AmenitiesList, "", new { @class = "text-danger" })
            </div>


                
            
            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
               
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
